#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.container-primary {
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.container-secondary {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.welcome-main {
    display: flex;
    flex-direction: column;
}

.welcome-image {
    text-align: center;
    padding-top:40px;
}

.welcome-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.account-main {
    height: 100%;
    display: flex;
    justify-content: center
}

.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    align-items: stretch;
    width: 40%;
    padding-bottom: 5%;
}

.account-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-title {
    width: 100%;
    text-align: center;
    padding-left: 29px;
}

.account-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

.account-content > * {
    padding-top: 1%;
    padding-bottom: 1%;
}

.account-btns {
    margin-top: 1%;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
